<%

block = view(:layout, :block).new

back_button = view(:component, :button).new(title: 'Back', url: lato_core.superusers_path,
              size: 'small')

actionbar = view(:layout, :actionbar).new(title: CORE_LANG['vocabolary']['new'],
            widgets: [{component: back_button, align: 'right'}])

%>

<%=raw actionbar %>

<div class="content-row">
  <%=raw block.open %>

    <%= render 'lato_core/back/superusers/shared/form', method: 'post' %>

  <%=raw block.close %>
</div>
