<% block = view(:block).new %>

<%=raw view(:actionbar).new(title: CORE_LANG['vocabolary']['new'],
                            links: [[CORE_LANG['vocabolary']['users'], lato_core.superusers_path]]) %>

<div class="content-row">
  <%=raw block.open %>

    <%= render 'lato_core/back/superusers/shared/form', method: 'post' %>

  <%=raw block.close %>
</div>
