<% if(login_root = core_getApplicationLoginRoot and login_root) %>
  <% controller.redirect_to login_root %>
<% end %>

<% block = view(:block).new() %>

<%=raw block.open %>

  <h1><%= CORE_LANG['vocabolary']['dashboard'] %></h1>
  <p><%= @message %></p>

<%=raw block.close %>
